In [1]:
import pandas as pd
import yfinance as yf

In [2]:
NASDAQ = pd.read_csv("../data/Stock_info/NASDAQ.csv")
NASDAQ.sort_values(by=["Market Cap"], ascending=False, inplace=True)
NASDAQ_symbols = NASDAQ[(NASDAQ["IPO Year"]<2009).values & (NASDAQ["IPO Year"].notna()).values & (NASDAQ["Name"].str.contains("Common Stock").values)][0:100]["Symbol"].values

In [3]:
NASDAQ_stock = yf.download(NASDAQ_symbols.tolist(), start="2009-01-02", end="2023-11-24")

[*********************100%%**********************]  100 of 100 completed

4 Failed downloads:
['CTXS', 'FISV', 'CERN', 'XLNX']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [4]:
NASDAQ_stock

             Adj Close                                                \
                  AAPL        ADBE      AGNC        AKAM        ALGN
Date
2009-01-02    2.747390   23.020000  2.583151   15.740000    8.890000
2009-01-05    2.863342   23.129999  2.602888   16.180000    9.250000
2009-01-06    2.816113   24.219999  2.613989   16.450001    9.600000
2009-01-07    2.755262   24.230000  2.606589   15.470000    9.360000
2009-01-08    2.806426   24.290001  2.620158   15.510000    9.010000
...                ...         ...       ...         ...         ...
2023-11-16  189.710007  602.059998  8.680000  111.370003  203.119995
2023-11-17  189.690002  602.659973  8.700000  112.370003  206.639999
2023-11-20  191.449997  612.700012  8.770000  112.470001  215.240005
2023-11-21  190.639999  610.989990  8.820000  113.129997  215.300003
2023-11-22  191.309998  619.719971  8.790000  113.570000  217.289993

                                                                        ...  \
                  ALNY        AMAT        AMGN        AMZN        ANSS  ...
Date                                                                    ...
2009-01-02   25.150000    8.206888   42.737904    2.718000   28.740000  ...
2009-01-05   25.440001    8.206888   43.216057    2.703000   28.809999  ...
2009-01-06   25.940001    8.906819   42.266968    2.868000   29.080000  ...
2009-01-07   24.320000    8.153049   42.165531    2.810000   27.540001  ...
2009-01-08   24.000000    8.260731   42.933498    2.858000   26.480000  ...
...                ...         ...         ...         ...         ...  ...
2023-11-16  168.970001  154.478073  269.000000  142.830002  301.660004  ...
2023-11-17  163.729996  148.271408  265.390015  145.179993  299.459991  ...
2023-11-20  165.259995  152.242889  265.350006  146.130005  302.440002  ...
2023-11-21  163.679993  148.930008  262.820007  143.899994  299.549988  ...
2023-11-22  162.880005  149.479996  264.589996  146.710007  298.519989  ...

             Volume                                                            \
               TSCO    TTEK     TTWO     ULTA     UTHR     VRSN     VRTX XLNX
Date
2009-01-02  3110000  466500   845000   333600   859600  3222500  1216600  NaN
2009-01-05  5456400  686800  1223400   299400   695600  2708800  2331600  NaN
2009-01-06  4319200  632500  1629600   187000  1109400  4158500  2055600  NaN
2009-01-07  6407200  442200   847600   157900   871400  3259000  1703300  NaN
2009-01-08  4115600  564700  1249600  1648800   773800  3054100  1867600  NaN
...             ...     ...      ...      ...      ...      ...      ...  ...
2023-11-16  1102200  634200  1405300   868400   185600   626800  3094500  NaN
2023-11-17   986400  282200  1067200   554800   180000  1164400  2035200  NaN
2023-11-20   947800  272600  1162200   620500   271300   398900  1520500  NaN
2023-11-21  1210200  236700   885200   553500   176400   401300  1227000  NaN
2023-11-22   953600  194900  1118600   434300   102200   452500   913500  NaN


               XRAY    ZBRA
Date
2009-01-02  1574200  559600
2009-01-05  1484200  383100
2009-01-06  2324700  298500
2009-01-07  2345400  356900
2009-01-08  1875600  511100
...             ...     ...
2023-11-16  3552800  275700
2023-11-17  2413300  340600
2023-11-20  3186400  330600
2023-11-21  4266300  360500
2023-11-22  3155000  550100

[3749 rows x 600 columns]

In [5]:
NASDAQ_stock.reset_index().to_csv("../data/Stock_data/NASDAQ.csv", index=False)

In [14]:
KOSPI = pd.read_csv("../data/Stock_info/KOSPI.csv", encoding='euc-kr')
KOSPI['종목코드'] = KOSPI['종목코드'].astype(str).str.zfill(6) + ".KS"
KOSPI_symbols = KOSPI.종목코드.values[:100]

In [16]:
KOSPI_stock = yf.download(KOSPI_symbols.tolist(), start="2009-01-02", end="2023-11-24")

[*********************100%%**********************]  100 of 100 completed

9 Failed downloads:
['015940.KS', '003450.KS', '000830.KS', '032390.KS', '053000.KS', '003600.KS', '001300.KS']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2009-01-02 -> 2023-11-24)')
['103150.KS', '037620.KS']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [18]:
KOSPI_stock

               Adj Close                                             \
               000100.KS      000120.KS     000150.KS     000210.KS
Date
2009-01-02  25311.291016  153290.781250  64687.570312  39840.585938
2009-01-05  24086.552734  154867.484375  62567.796875  40653.664062
2009-01-06  23794.951172  167305.937500  62567.796875  41141.503906
2009-01-07  24144.873047  168181.890625  70089.609375  43174.195312
2009-01-08  24028.228516  168181.890625  70089.609375  43499.410156
...                  ...            ...           ...           ...
2023-11-17  61600.000000   87400.000000  82100.000000  48900.000000
2023-11-20  62200.000000   89900.000000  83800.000000  48200.000000
2023-11-21  62400.000000   91900.000000  83700.000000  48150.000000
2023-11-22  61800.000000   93500.000000  84600.000000  48000.000000
2023-11-23  62400.000000   96300.000000  85000.000000  47150.000000

                                                                     \
               000240.KS     000270.KS      000660.KS     000700.KS
Date
2009-01-02    773.010925   5113.254883    6102.186523  25729.492188
2009-01-05    764.986572   5340.673340    6136.182617  27118.486328
2009-01-06    748.937927   5414.033691    6280.663574  28110.628906
2009-01-07    764.986572   5707.477051    6357.152344  29764.195312
2009-01-08    754.287476   5575.428223    6739.602051  29631.912109
...                  ...           ...            ...           ...
2023-11-17  13330.000000  85200.000000  129900.000000   5910.000000
2023-11-20  12840.000000  84400.000000  131400.000000   5950.000000
2023-11-21  13090.000000  83600.000000  132000.000000   6000.000000
2023-11-22  13150.000000  83100.000000  131300.000000   6000.000000
2023-11-23  13270.000000  84500.000000  130100.000000   6000.000000

                                         ...     Volume                       \
               000720.KS      000810.KS  ...  078930.KS 086280.KS  086790.KS
Date                                     ...
2009-01-02  52295.386719  122117.507812  ...   657870.0   62680.0  3418706.0
2009-01-05  52464.625000  120497.914062  ...   859155.0   35038.0  5590412.0
2009-01-06  51872.289062  118230.492188  ...   852868.0   34625.0  2771001.0
2009-01-07  53056.972656  117906.578125  ...   781287.0  172708.0  3814127.0
2009-01-08  52718.488281  114991.312500  ...  1719291.0   89863.0  3119283.0
...                  ...            ...  ...        ...       ...        ...
2023-11-17  36700.000000  245000.000000  ...    97783.0   38474.0   574398.0
2023-11-20  36850.000000  249500.000000  ...   124474.0   42183.0   649689.0
2023-11-21  37350.000000  248500.000000  ...   117140.0   56000.0   872697.0
2023-11-22  37050.000000  254000.000000  ...    48491.0   31801.0   671653.0
2023-11-23  37300.000000  262000.000000  ...    59189.0   25908.0   588852.0

                                                                         \
           088980.KS 090430.KS  096770.KS 097230.KS 097950.KS 103150.KS
Date
2009-01-02  180960.0  148020.0   714957.0  328908.0   65050.0       NaN
2009-01-05  116169.0  257500.0  1010701.0  203175.0   59001.0       NaN
2009-01-06   51355.0  180280.0   611399.0  209855.0  101280.0       NaN
2009-01-07  148586.0  386480.0   737285.0  418352.0  252278.0       NaN
2009-01-08   37563.0  194190.0   640125.0  258382.0  152062.0       NaN
...              ...       ...        ...       ...       ...       ...
2023-11-17  613271.0   62787.0   316282.0   45156.0   30129.0       NaN
2023-11-20  645681.0  108234.0   339299.0   33348.0   22257.0       NaN
2023-11-21  745779.0   82641.0   341776.0   64082.0   40664.0       NaN
2023-11-22  335125.0  105186.0   210744.0   82392.0   35122.0       NaN
2023-11-23  418847.0   98116.0   201099.0   61910.0   22336.0       NaN


            105560.KS
Date
2009-01-02  2267598.0
2009-01-05  4353077.0
2009-01-06  3482371.0
2009-01-07  3717912.0
2009-01-08  3335219.0
...               ...
2023-11-17   470739.0
2023-11-20   703966.0
2023-11-21   921302.0
2023-11-22   573536.0
2023-11-23   907567.0

[3706 rows x 600 columns]